i {
    transition: 0.3s;
    color: white;

}

i:hover {
    transform: scale(1.2);
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #040811;
    overflow-y: scroll;
    overflow-x: scroll;
    /* display: flex;
    flex-direction: row; */
    
}

.pay-type-btn {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.expense-income-div {
    margin-top: 2%;
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#income-btn {
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    transition: 0.6s;
    overflow: hidden;
    cursor: pointer;
    border: none;
    text-align: center;
}

#income-btn:hover .shiny {
    left: 110%;
}

#expense-btn {
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    transition: 0.6s;
    overflow: hidden;
    cursor: pointer;
    border: none;
    text-align: center;
    /* box-shadow: #040811 -5px 5px 0 0, #fff -5px 5px 0 1px; */
}

#expense-btn:hover .shiny {
    left: 110%;
}

.main-container {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 15px 190px rgb(53, 53, 53);
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    border-radius: 18px;
    padding: 20px;
    background-color: #3e3c3c;
    position: fixed;
    color: #fff;
    width: 400px;
    transition: 0.7s;
}
.input:hover{
    box-shadow: 0 0 10px 10px rgb(37, 37, 37);
}

.cross {
    display: flex;
    flex-direction: column;
}

#band {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="date"],
input[type="number"],
select,
textarea {
    margin-bottom: px;
    padding: 8px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #ccc;
}

#date {
    float: left;
    font-weight: bolder;
    width: 200px;
    color: #040811;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sub {
    margin-left: 20px;
    background-color: #6c1d94;
}
.sub:hover {
    
    background-color: #5c1d7e;
}

button {

    border: none;
    border-radius: 10px;
    background-color: #5c1d7e;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    float: right;
    /* margin-right: 30px; */
    font-size: larger;


}

button:hover {
    background-color: #330e46;
}

#main{
    width:100%; 
    height: auto;
    margin-top:0;
    display:flex;
    align-items: center;
}

.all-buttons{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 20px;
}

.content_income {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    height: 80px;
    width: 250px;
    border-radius: 20px;
    /* bottom: 27rem; */
    position: relative;
    /* left: 1%; */
    background: rgb(107, 198, 102);
    margin-left: 0px;
    /* position: relative; */
    transition: 0.6s;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    /* margin-left: 0px;  */
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.9) -7px 7px 0 0, #fff -7px 7px 0 1px; */
}

.content_income:hover .shiny {
    left: 110%;
}

.content_expense {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    height: 80px;
    cursor: pointer;
    width: 250px;
    border-radius: 20px;
    position: relative;
    /* left: 1%; */
    background: rgb(244, 72, 72);
    margin-left: 0px;
    /* bottom: 20rem; */
    /* z-index:10; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.6s;
    overflow: hidden;
    /* margin-left:0px; */
    text-align: center;
}

.content_expense:hover .shiny {
    left: 110%;
}

.content_balance {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 80px;
    width: 250px;
    background: rgb(37, 168, 255);
    /* margin-top: 10px; */
    border-radius: 20px;
    position: relative;
    /* left: 1%; */
    /* bottom: 13rem; */
    /* margin-left: 0px; */
    transition: 0.6s;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    /* margin-left: 0px; */
    text-align: center;
    /* margin-top:1rem */
}

.content_balance:hover .shiny {
    left: 110%;
}

.shiny {
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.6s;
    transform: skewX(20deg);
}

#add-button {
    font-size: 1.8rem;
    position: relative;
    /* bottom: 7rem; */
    /* left: 1%; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 20;
    width: 250px;
    font-weight: bolder;
    border-radius: 20px;
    padding: 10px 20px;
}

#scrollable-div::-webkit-scrollbar {
    display: none;
}

#scrollable-div{
    display: grid; 
    background:none;  
    overflow-y: scroll; 
    height: 550px; 
    width: 70%;
    margin: 0px;
    border-radius:20px;
    padding: 0%;
}

.date-div{
    display: grid; 
    flex-direction: column;
    background: none; 
    color:black;
    width: 90%;
    text-align: center;
    margin: 0;
}

#date1 {
    text-align: center;
    font-size: larger;
    width: 200px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color:white;
    justify-self:center;
    font-size:1.5rem;
    font-weight:600;
    width:300px;
    position:relative;
}

.output{
    width: 90%;
    position:relative;
    display: flex;
    flex-direction: column;
}

#main-container1 {
    display: flex;
    align-items: center;
    width: 105%;
    height: 5rem;
    border: 3px;
    border-radius: 20px;
    background-color: rgb(35, 35, 35);
    float: left;
    margin-bottom: 20px;
}

.kl {
    height: 5rem;
    width: 35px;
    border-radius: 20px 0px 0px 20px;
    background-color: red;
    float: left;
    justify-self: start;
}

#notes-container {
    display: grid;
    align-items: center;
    width: 50%;
    height: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 0px;
    /* float: left;
    justify-self: start; */
}

#notes {
    text-align: left;
    margin-left: 2%;
    color: white;
    font-size: 1.3rem;
    z-index: 2;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#category-container {
    width: 30%;
    height: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 0px;
    justify-self: end;
    float: left;

}

#category-text {
    color: white;
    font-size: 1.3rem;
    z-index: 6;
    margin-top: 4px;
    font-weight: bolder;
    margin-left: 0px;

    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.mode-amount{
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 15%;
    justify-content: center;
}

#mode-container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 2.5rem;
    margin-top: 0px;
    float: left;
}

#mode-text {
    color: white;
    font-size: 1.3rem;
    z-index: 2;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#amount-container{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 15%;
    height: 5rem;
    position:relative;
    top:0rem;
}

#amount {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    margin: 0;
    font-weight: bolder;
    /* justify-self: start;
    text-align: start; */
    /* padding-top: 2.5rem; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.delete-div {
    padding: 5px 20px;
    height: 5rem;
    border-radius: 0 20px 20px 0px;
    margin-top: 0px;
    height: 5rem;
}

@media (max-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .main-container {
        width: 100%;
    }
    .expense-income-div{
        margin-top: 10%;
    }
    #expense-btn{
        font-size: 1rem;
    }
    #income-btn{
        margin-right: 30px;
        font-size: 1rem;
    }
    .input{
        width: 80%;
    }
    #main{
        display: flex;
        flex-direction: column;
    }
    .all-buttons{
        display: flex;
        margin: 0 !important;
        flex-direction: row !important;
        width: 100%;
        height: 25%;
    }
    .content_expense{
        width: 110px;
    }
    .content_income{
        width: 110px;
    }
    .content_balance{
        width: 110px;
    }
    #add-button{
        width: 80%;
        font-size: 1.3rem; 
        padding: 10px 0;
    }
    #scrollable-div{
        margin-top: 5%;
        width: 100%;
    }
    .title-card{
        font-size: 1.2rem;
    }
    .date-div{
        justify-self: center;
    }
    .output{
        justify-self: center;
    }
    #notes{
        font-size: 0.8rem;
    }
    #category-text{
        font-size: 0.8rem;
    }
    #mode-text{
        font-size: 0.9rem;
    }
    #amount{
        font-size: 0.9rem;
    }
    .mode-amount{
        margin-left: 8%;
    }
    .delete-div{
        padding: 5px 10px;
    }
}
