<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='about.css') }}">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo.ico')}}">
</head>
{% include "navbar.html" %}
<body>
  <div class="container">
    <div class="info">
      <h2 style="text-align: center;">About Us</h2>
      <p>BudgetBuddy is your ultimate companion on the journey to financial freedom. We understand the challenges of
        managing expenses in today's fast-paced world, and we're here to simplify the process for you. With BudgetBuddy,
        you can effortlessly track your spending, set achievable financial goals, and gain valuable insights into your
        money habits. Our user-friendly interface and intuitive features make budgeting a breeze, empowering you to take
        control of your finances and make informed decisions about your money.</p>
      <br>
      <p>At BudgetBuddy, we're committed to helping you achieve financial wellness and peace of mind. Whether you're
        saving for a dream vacation, planning for retirement, or simply aiming to build better spending habits, we're
        here to support you every step of the way. With powerful tools and personalized recommendations, BudgetBuddy
        empowers you to reach your financial goals and live the life you've always dreamed of. Join the BudgetBuddy
        community today and take the first step towards a brighter financial future.</p>
    </div>
    <div class="logo">
      <img id="logo1" src="{{ url_for('static',filename='BudgetBuddy.png') }}" alt="img">
    </div>
  </div>
  <div class="container1">
    <p class="our">Our Team</p>
    <div class="row">
      <!-- BITCH -->
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{ url_for('static',filename='aanchal_team.jpg') }}" alt="img">
        </div>
        <div class="team-content">
          <h3 class="name">Aanchal Shah</h3>
          <h4 class="title">Web Developer</h4>
        </div>
      </div>
      <!-- TIA -->
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{ url_for('static',filename='aryan_team.jpeg.jpg') }}">
        </div>
        <div class="team-content">
          <h3 class="name">Aryan Vora</h3>
          <h4 class="title">Web Developer</h4>
        </div>
      </div>
      <!-- DEV -->
      <div class="our-team">
        <div class="picture">
          <img class="picture" src="{{ url_for('static',filename='dev_team.jpeg.jpg') }}">
        </div>
        <div class="team-content">
          <h3 class="name">Dev Poriya</h3>
          <h4 class="title">Web Developer</h4>
        </div>
      </div>
      <!-- VORA -->
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{ url_for('static',filename='tia_team.jpeg.jpg') }}">
        </div>
        <div class="team-content">
          <h3 class="name">Tia Gala</h3>
          <h4 class="title">Web Developer</h4>
        </div>
      </div>
    </div>
  </div>
</body>

</html>