<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Transactions</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo.ico')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        
</head>
<style>
    #button {
        font-size: 1.8rem;
        position: fixed;
        bottom: 7rem;
        left: 1%;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        z-index: 20;
        width: 250px;
        font-weight: bolder;
        border-radius: 20px;
        padding: 10px 20px;
    }
</style>

<body>
    {%include "navbar.html "%}

    <div class="pay-type-btn" id="pay-type-btn">
        <div class="expense-income-div">
            <button id="income-btn" name="flag">
                <span class="shiny"></span>
                Income
            </button>
            <br>
            <button id="expense-btn" name="flag">
                <span class="shiny"></span>
                Expense
            </button>
        </div>
        <span id="band" onclick="closemain()">x</span>
    </div>
    <div class="main-container" id="form-expense" method="POST">
        <form method="POST" class="input">
            <span id="band" onclick="closeit()">x</span>
            <input type="text" value="expense" name="flag" style="display: none">
            <label for="date"> DATE</label>
            <input type="date" id="date" name="date" /> <br />
            <label for="rupees"><span>&#8377;</span></label>
            <input type="number" id="rupees" name="rupees" /><br />
            <label for="category">Categories</label>
            <select name="category" id="category">
                <option value="HOUSEHOLD">Household</option>
                <option value="FOOD">Food</option>
                <option value="APPAREL">Apparel</option>
                <option value="TRANSPORT">Transport</option>
                <option value="SOCIAL-LIFE">Social Life</option>
                <option value="HEALTH">Health</option>
                <option value="EDUCATION">Education</option>
                <option value="OTHER-EX">Other</option>
            </select>
            <br />
            <label for="mode">Mode</label>
            <select name="mode" id="mode">
                <option value="Cash">CASH</option>
                <option value="Card">CARD</option>
                <option value="UPI">UPI</option>
            </select>
            <br />
            <label for="note">NOTE</label>
            <textarea name="note" id="note" cols="50" rows="1"></textarea>
            <br />
            <button type="submit" class="sub">Sub</button>
        </form>
    </div>

    <div class="main-container" id="form-income" method="POST">
        <form method="POST" class="input">
            <span id="band" onclick="closeit()">x</span>
            <input type="text" value="income" name="flag" style="display: none">
            <label for="date"> DATE</label>
            <input type="date" id="date" name="date" /> <br />
            <label for="rupees"><span>&#8377;</span></label>
            <input type="number" id="rupees" name="rupees" /><br />
            <label for="category">Categories</label>
            <select name="category" id="category">
                <option value="SALARY">Salary</option>
                <option value="ALLOWANCE">Allowance</option>
                <option value="BONUS">Bonus</option>
                <option value="OTHER">Other</option>
            </select>
            <br />
            <label for="mode">Mode</label>
            <select name="mode" id="mode">
                <option value="Cash">CASH</option>
                <option value="Card">CARD</option>
                <option value="UPI">UPI</option>
            </select>
            <br />
            <label for="note">NOTE</label>
            <textarea name="note" id="note" cols="50" rows="1"></textarea>
            <br />
            <button type="submit" class="sub">Sub</button>
        </form>
    </div>

    <div id="main" style="border-radius: 1rem; background-color:black; width:100%; height:560px;margin-top:0">
        <div class="all-buttons">
            <button id="button" onclick="openType()">ADD
            </button>
            <div class="content_income" style="margin-left: 0px; text-align: center;">

                {% block totali%}
                <br>
                <span class="shiny"></span>
                <h2 style="position: relative; display: inline; color: white; position:relative;color:white;">INCOME:
                    <span>₹</span>{{ totali }}
                </h2>
                {% endblock %}{% block totale%}
            </div>
            <div class="content_expense" style="margin-left:0px;text-align: center;">
                <span class="shiny"></span>
                <br>
                <h2 style="position: relative; display: inline;color: white">EXPENSE: <span>₹</span>{{ totale }}</h2>
                {% endblock %} {% block balance%}
            </div>
            <div class="content_balance" style="margin-left: 0px;text-align: center;margin-top:1rem">
                <span class="shiny"></span>
                <br>
                <h2 style="position: relative; display: inline;color: white">BALANCE: <span>₹</span> {{ balance }}</h2>
            </div>
            {% endblock %}
        </div>
        <div id="scrollable-div"
            style="display: grid;background-color:black;  overflow-y: scroll; height: 550px; width: 80%;margin-top: 0px;position:fixed;left:19%;top:7.5rem;border-radius:20px ">

            {% for date, items in dates.items() %}
            <div id="date-div-{{ loop.index }}"
                style="display: grid;background-color: black; color:black;height: 100px; width: 99%;;margin-bottom: 0px; justify-self:center ">

                <p id="date1"
                    style="color:white;margin-top:1rem;justify-self:center;font-size:1.5rem;font-weight:600;width:300px;position:relative;left:4%">
                    Date: {{ date }}</p>
                <div class="output" id="output-{{ loop.index }}" style="width:600px;position:relative;left:9%;">
                    {% for item in items %}
                    <div class="main-container{{ loop.index }}" id="main-container">
                        {%if item['Type']=='income'%}
                        <div class="kl" style="background-color: green">

                        </div>
                        {%else%}
                        <div class="kl" style="background-color: red">

                        </div>
                        {%endif%}
                        <div id="notes-container">
                            <p id="notes">{{ item['Note'] }}</p>

                        </div>
                        <div id="category-container">
                            <p id="category-text">{{ item['Category'] }}
                            <p>
                        </div>
                        <div id="mode-container">
                            <p id="mode-text" style="color: white;">{{ item['Mode'] }}</p>
                        </div>
                        <div id="amount-container">
                            <p id="amount"><span>₹</span>{{ item['Amounts'] }}</p>
                        </div>
                    </div>
                    <div id="delete-form">
                        <form method="POST" class="cross">
                            <input type="text" class="delete-form" id="index-flag" name="flag" value="{{item['hello']}}"
                                style="display:none">
                            <button type="submit" class="delete-div" data-index="{{ loop.index }}"><span>&#10008</span>
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>





    <!--    <div id="main-div">-->
    <!--         style="display: grid; background-color:  rgb(0, 0, 0);  height: 600px; width: 99%;">-->



    <!--        <div id="scrollable-div"-->
    <!--             style="display: grid;background-color: rgb(0, 0, 0);  overflow-y: scroll; height: 580px; width: 77%;justify-self: center; align-self: center;margin-top: 0px; ">-->

    <!--            {% for date, items in dates.items() %}-->
    <!--            <div id="date-div-{{ loop.index }}"-->
    <!--                 style="display: grid;background-color: rgb(0, 0, 0); height: 200px; width: 65%;float: left;margin-bottom: 00px; ">-->

    <!--                <p id="date1" style="color:white;">Date: {{ date }}</p>-->
    <!--                <div class="output" id="output-{{ loop.index }}" >-->
    <!--                    {% for item in items %}-->
    <!--                    <div class="main-container{{ loop.index }}" id="main-container">-->
    <!--                        {%if item['Type']=='income'%}-->
    <!--                        <div class="kl" style="background-color: green">-->

    <!--                        </div>-->
    <!--                        {%else%}-->
    <!--                        <div class="kl" style="background-color: red">-->

    <!--                        </div>-->
    <!--                        {%endif%}-->
    <!--                        <div id="notes-container">-->
    <!--                          <p id="notes">{{ item['Note'] }}</p>-->
    <!--                        </div>-->
    <!--                        <div id="category-container">-->
    <!--                            <p id="category-text">{{ item['Category'] }}<p>-->
    <!--                        </div>-->
    <!--                        <div id="mode-container">-->
    <!--                        <p id="mode-text" style="color: white;">{{ item['Mode'] }}:</p>-->
    <!--                        </div>-->
    <!--                        <div id="amount-container">-->
    <!--                            <p id="amount"><span>₹</span>{{ item['Amounts'] }}</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div id="delete-form">-->
    <!--                        <form method="POST" class="cross">-->
    <!--                            <input type="text" class="delete-form" id="index-flag" name="flag" value="{{item['hello']}}"-->
    <!--                                   style="display:none">-->
    <!--                            <button type="submit" class="delete-div" data-index="{{ loop.index }}"><span>&#10008</span>-->
    <!--                            </button>-->
    <!--                        </form>-->
    <!--                    </div>-->
    <!--                    {% endfor %}-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            {% endfor %}-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    </div>-->
    <!--    </div>-->


</body>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    var dateDivs = document.querySelectorAll('[id^="date-div-"]');
    dateDivs.forEach(function (dateDiv) {
        var outputDiv = dateDiv.querySelector('.output');
        var outputDivHeight = outputDiv.clientHeight;
        dateDiv.style.height = (outputDivHeight + 50) + 'px';
    });
    var payType = document.getElementById("pay-type-btn");
    var expenseForm = document.getElementById("form-expense");
    var incomeForm = document.getElementById("form-income");
    $("#pay-type-btn").hide();
    $("#form-income").hide();
    $("#form-expense").hide();


    $("#income-btn").click(function () {
        $("#form-income").toggle();
        $("#form-expense").hide();

    });
    $("#expense-btn").click(function () {
        $("#form-expense").toggle();
        $("#form-income").hide();

    });

    // $("#button").click(function () {
    //     $("#pay-type-btn").toggle();
    // });
    function openType() {
        payType.style.display = "flex";
    }
    // function openIncome(){
    //     expenseForm.style.display = "none";
    //     incomeForm.style.display = "block";
    //     payType.style.display = "none";
    // }
    // function openExpense(){
    //     incomeForm.style.display = "none";
    //     expenseForm.style.display = "block";
    //     payType.style.display = "none";
    // }
    function closeit() {
        payType.style.display = "flex";
        expenseForm.style.display = "none";
        incomeForm.style.display = "none";
    }
    function closemain() {
        payType.style.display = "none";

    }


</script>

</html>